h2{
    background:gray; 
    text-align:center;
}


td.masde20{   
    color:blue;  
}


td.ninguno{
    color:red; 
}


tr{
    
    border:1px solid;padding:3px;
    
}





div{
    
    width:65%;
    float:right;
    padding-right:15%;
    
}


table{
    
    clear:right;
    
    
}